header#header .container {
    padding: 0px;
}
#header.header-scrolled, #header.header-pages, #header {
    height: 90px;
    background-color: #312f2f;
    padding: 20px 0px;
}
#header .logo img {
    margin: 0px;
    max-height: 60px;
}
.main-nav, .main-nav * {
    padding: 2px;
}
.main-nav a {
    color: #ffffff;
    letter-spacing: 0.5px;
}
.main-nav a:hover {
    color: #71db77 !important;
}
main {
    padding-top: 90px;
}
.outer{
    padding: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.form-outer {
    padding: 15% 0px;
}
.main-title {
    color: #71db77;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}
.sub-title{
    text-align: center;
    font-family: "circularstdbook", sans-serif;
    font-weight: 500;
}
.submit-btn{
    background: #71db77;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
    outline: none;
    font-family: "circularstdbold", sans-serif;
}
.form-group {
    margin-bottom: 2rem;
}
.contactForm {
    padding: 50px 20px;
}
.remember-outer{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
}
.checkbox{
    width: 50%;
}
.forgot-password {
    width: 50%;
}
.forgot-password a{
    float: right !important;
    font-family: "circularstdbook", sans-serif;
}
.checkbox input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.checkbox label{
    align-items: center;
    display: flex;
    font-family: "circularstdbook", sans-serif;
}
.modal-footer .checkbox label {
    font-family: "circularstdbold", sans-serif;
}
.modal-footer .checkbox .mylabel {
    font-family: "circularstdmedium", sans-serif;
}
.action-btn-outer {
    display: flex;
}
.action-btn-outer div{
    width: 50%;
}
.signup-btn{
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}
.action-btn-outer button:focus{
    outline: none;
}
.validation {
    font-size: 14px;
    color: red;
}
.form-footer {
    position: absolute;
    bottom: 60px;
    font-size: 12px;
}
.form-footer a, .form-footer1 a {
    color: #05386B;
    font-family: "circularstdmedium", sans-serif;
}
.form-footer div {
    width:50%;
    float: left;
    text-align: center;
}

.form-footer1 {
    position: relative;
    float: right;
    font-size: 12px;
    text-align: right;
    padding-bottom: 50px;
    padding-top: 10px;
}
.form-footer1 div {
    float: left;
    text-align: right;
    width: 50%;
}

/*------------------------------- Signup form css----------------------------*/
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 0px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 14px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #71db77;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 15px;
    font-family: "circularstdbold", sans-serif;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px  #71db77;
}

#msform .action-button-previous {
    width: 100px;
    background: #71db77;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-family: "circularstdbold", sans-serif;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #71db77;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 40%;
    padding: 0px;
}

#progressbar li {
    list-style-type: none;
    color: #000000;
    text-transform: capitalize;
    font-size: 11px;
    width: 50%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-weight: normal;
    font-family: "circularstdmedium", sans-serif;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 22px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    border: 1px solid #71db77;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #cccccc;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #71db77;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #71db77;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
.signup-form-outer {
    padding: 3% 0px;
    width: 100%;
}
.signup-outer input[type="checkbox"] {
    display: block;
    width: 20px !important;
    margin: 0px !important;
}
.signup-outer .checkbox {
    width: 100%;
}
.signup-outer {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
}
.form-control {
    border: 0px;
    border-bottom: 1px solid #cccccc !important;
    border-radius: 0px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    font-family: "circularstdbook", sans-serif;
}
.form-control:hover, .form-control:focus {
    border-bottom: 1px solid #71db77 !important;
    outline: none;
    color: #000000;
    background-color: #fff;
    box-shadow: none;
    font-family: "circularstdbook", sans-serif;
}
.signup-name{
    float: left;
}
.fname{
    padding: 0px 10px 0px 0px;
}
.lname{
    padding: 0px 0px 0px 10px;
}
.already-user a{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    text-decoration: underline;
}

/*-------------------------------registration page css-----------------------------*/
.custom-outer{
    background: #fafafc;
}
.page-header-outer {
    padding: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 1px #cccccc;
    height: 80px;
    display: inline-flex;
}
.page-header {
    padding: 25px 0px;
    float: left;
    /* display: table-cell;
    vertical-align: middle; */
}
.bcircle {
    background: #71db77;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}
.scircle {
    background: #71db77;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 2px;
}
.scirclekyc {
    background: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 2px;
    margin-right: 10px;
}
.btn.focus, .btn:focus, button:focus {
    outline: none;
    box-shadow: none;
}
.ltitle {
    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
    font-family: "circularstdblack", sans-serif;
}
.right-block {
    display: inline-flex;
}
.right-block .ltitle {
    font-size: 15px;
}
.account-nav nav {
    height: 30px;
}
.account-nav li.drop-down {
    height: 30px;
    background: #71db77;
    border-radius: 40px;
}
.account-nav li.drop-down a {
    font-size: 13px;
    font-family: "circularstdbold", sans-serif;
}
.account-nav .main-nav a {
    padding: 2px 10px;
    text-transform: capitalize;
}
.account-nav .main-nav a:hover, .account-nav .main-nav .active > a, .account-nav .main-nav li:hover > a {
    color: #333333;
}
.account-nav i.fa.fa-user-circle-o {
    font-size: 20px;
    vertical-align: middle;
    padding-right: 10px;
}
.custom-left-block {
    /* background: #ffffff; */
}
.upper-left {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 20px 0px;
    background: #ffffff;
    margin-bottom: 15px;
}
.upper-left img{
    width: 50%;
    padding-bottom: 10px;
}
.upper-left h6 {
    margin: 5px;
    font-weight: 600;
    font-family: "circularstdbold", sans-serif;
}
.upper-left p {
    font-weight: 600;
    font-size: 14px;
    margin:5px;
}
.upper-left p a{
    color: #444444;
}
.padding-tb{
    padding: 15px 0px;
}
.update-kyc{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 50%;
    background: #312f2f;
    border-radius: 40px;
    padding: 4px 5px 6px;
}
.update-kyc .ltitle{
    vertical-align: -webkit-baseline-middle;
    color: #71db77;
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
    font-family: "circularstdbold", sans-serif;
}
.update-kyc .scircle{
    padding: 12px;

}
.lower-left{
    background: #ffffff;
}

/*------------------------------------------custom-left-block vertical tabs css starts here------------------*/
.nav-tabs {
    display: none;
}

.padding-lr-15{
    padding: 0px 15px;
}
.custom-right-block{
    background: #ffffff;
    width: 100%;
    padding: 20px 0px;
}
.display-flex{
    display: flex;
}
.right-title {
    font-weight: 600;
}
.rsub-title {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    font-family: "circularstdbook", sans-serif;
}
.add-file{
    text-align: right;
    float: right;
    border: 1px solid #71db77;
    padding: 5px 20px;
    border-radius: 40px;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}
.add-file:hover{
    color: #71db77;
}
.add-file .fa {
    padding-right: 10px;
}
.divider {
    border-top: 1px solid #333333;
    margin: 0px 20px;
}
.divider1 {
    border-top: 1px solid #333333;
    margin: 0px 0px;
}
.custom-left-block li.nav-item {
    background: #eceef2;
    border: 0px !important;
    margin-bottom: 10px;
    padding: 5px 0px;
    font-weight: 700;
}
.custom-left-block .nav-tabs .nav-link {
    border: 0px;
    text-align: center;
    color: #333333;
}
.custom-left-block .nav-tabs a label{
    cursor: pointer;
    font-family: "circularstdbold", sans-serif;
}
.custom-left-block .nav-tabs .nav-link.active, .custom-left-block .nav-tabs .nav-link.active:hover {
    border: 0px;
    border-bottom: 4px solid #05386b !important;
    margin-right: -1px;
    border-radius: 0px !important;
    background: #eceef2;
}
.custom-left-block .nav-tabs .nav-link:focus, .nav-tabs .nav-item + .nav-item{
    outline: none !important;
}
.custom-left-block label {
    width: 36%;
    text-align: left;
}
.custom-left-block .nav-tabs {
    border-right: 0px solid #ddd;
}
.dataTables_length, #registration .dataTables_filter, .paginate_button.previous, .paginate_button.next, .dataTables_info, .dataTables_filter {
    display: none !important;
}
div#portfoliotable_filter {
    display: block !important;
}
.dataTable tr.odd {
    background: #f5f6f7 !important;
    border-color: #f5f6f7 !important;
}
.dataTable tr.even {
    background: #eceef2 !important;
    border-color: #eceef2 !important;
}
.borderless thead th,
.borderless tbody,
.borderless tbody tr,
.borderless tbody td {
    border-style: none;
    padding: 15px 10px !important;
    vertical-align: middle;
    font-size: 13px;
    font-weight: normal;
    font-family: "circularstdbook", sans-serif
}
table.dataTable thead th, table.dataTable thead td {
    padding: 18px 18px;
    font-size: 13px;
    font-weight: 600;
}
.card-body {
    padding: 0px 1.25rem;
}
.table-regtitle label{
    background: #71db77;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
    font-family: "circularstdbold", sans-serif;
}
.table-regtitle, .table-remtitle, .remtitle-td {
    text-align: center;
}
.regtitle-td{
    text-align: center;
}
.regtitle-td label {
    background: #05386B;
    border: 0;
    border-radius: 20px;
    padding: 5px 30px;
    color: #fff;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
}
.table-remtitle label{
    background: transparent;
    border: 0;
    border-radius: 20px;
    padding: 7px 30px;
    color: #000000;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
    border: 1px solid #000000;
    font-family: "circularstdbold", sans-serif;
}
table.dataTable thead .sorting_asc {
    background-image: url(../images/sort_asc.png);
    font-family: "circularstdbold", sans-serif;
}
.remtitle-td label{
    background: transparent;
    border: 0;
    border-radius: 20px;
    padding: 4px 30px;
    color: #000000;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
    border: 1px solid #000000;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px 2px;
    background: #ECEEF2;
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "circularstdbook", sans-serif;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #71db77;
    color: #ffffff !important;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #71db77;
    border: 0px;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 20px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 30px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #71db77;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #71db77;
    border-color: transparent;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #FFFFFF;
    position: absolute;
    top: 4px;
    left: 3px;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar-upload .avatar-edit input + label:hover:after {
    color: #05386b;
}
.account-nav .main-nav .drop-down ul a {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    padding: 5px 20px;
    font-family: "circularstdmedium", sans-serif;
}
.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
    color: #71db77;
}
.card.tab-pane {
    padding: 0px !important;
}
#portfolio div#portfoliotable_filter {
    width: 100%;
    border-bottom: 1px solid #000000;
}
#portfolio #portfoliotable_filter label{
    width: 100%;
    float: left;
    text-align: center;
    padding: 15px 0px 10px;
}
#portfolio #portfoliotable_filter input[type="search"] {
    border-radius: 20px;
    border: 0px solid #000000;
    background: #ECEEF2;
    outline: none;
    padding: 10px;
    width: 45%;
    font-size: 14px;
    cursor: pointer;
}
#portfolio .borderless thead th, #portfolio .borderless tbody, #portfolio .borderless tbody tr, #portfolio .borderless tbody td, #portfolio table.dataTable thead th, #portfolio table.dataTable thead td {
    font-size: 13px;
    text-align: center;
}
#portfolio .borderless tbody tr {

}
#portfolio td {
    width:25%;
}
#portfolio td.td-odd {
    background: #F5F6F7;
    border-bottom: 1px solid #cdcdcd !important;
}
#portfolio td.td-even {
    background: #ECEEF2;
    border-bottom: 1px solid #cdcdcd !important;
}
.add-file-outer .avatar-edit.add-file {
    position: relative;
    width: 100%;
    right: 0px;
    top: 0px;
}
.add-file-outer {
    position: relative;
    max-width: 205px;
    margin: 0px;
}
.add-file-outer .avatar-edit input + label:after{
    display: none;
}
.add-file-outer .avatar-edit input + label {
    display: inline-block;
    width: 100%;
    box-shadow: none;
    height: 25px;
    text-align: center;
    background: transparent;
    font-family: "circularstdmedium", sans-serif;
}
.add-file-outer .avatar-edit input + label:hover {
    background: transparent;
    border-color: transparent;
}
.back-to-top {
    background: #71db77;
}
.verification  .add-file-outer {
    text-align: center;
    margin: 0 auto;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.padding-tb-15{
    padding: 15px 0px;
}
.borderless thead tr.upper-title th {
    padding: 5px 10px !important;
    border-bottom: 0px;
    font-size: 14px;
}
.borderless thead tr.lower-title th {
    padding: 5px 10px 0px !important;
    border-bottom: 0px;
    text-align: center;
    width: 25%;
}
#history td {
    width: 25%;
}
#history .borderless td {
    text-align: center;
    font-size: 13px;
}
/* Reset Select */
.myselect select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    color: #000000 !important;
    background-image: none;
}
/* Remove IE arrow */
.myselect select::-ms-expand {
    display: none;
}
/* Custom Select */
.myselect {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background: #ffffff !important;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #71db77;
    border-radius: 20px;
}
.myselect select {
    flex: 1;
    padding: 0 1.5em;
    color: #fff;
    cursor: pointer;
    font-family: "circularstdbook", sans-serif;
    color: #495057 !important;
    opacity: 0.9;
}
/* Arrow */
.myselect::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ffffff;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    border-left: 1px solid #71db77;
    color: #71db77;
}
/* Transition */
.myselect:hover::after {
    color: #05386b;
}
.text-right{
    text-align: right;
}
tr.upper-title th, tr.upper-title th a {
    color: #05386b !important;
}
.rsub-title1 {
    text-align: left;
    font-weight: normal;
    font-size: 13px;
    padding: 20px 0px 0px;
    margin-bottom: 0px;
    font-family: "circularstdbook", sans-serif;
}
#services .box img, .queryform textarea {
    width: 100%;
    font-family: "circularstdbook", sans-serif;
}
.queryform textarea{
    background-color: #ECEEF2;
    margin: 20px 0px 10px;
    padding: 10px;
}
.queryform textarea::-webkit-input-placeholder {
    font-size: 13px;
    color:#cccccc;
}

.queryform textarea:-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
    color:#cccccc;
}

.queryform textarea::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px;
    color:#cccccc;
}

.queryform textarea:-ms-input-placeholder {
    font-size: 13px;
    color:#cccccc;
}
.modal-header {
    border-bottom: 0px solid #dee2e6;
}
.modal-footer {
    border-top: 0px solid #dee2e6;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -2rem -1rem -1rem auto;
    font-size: 45px;
    color: #05386B;
    font-weight: normal;
    font-family: initial;
    opacity: 1;
}
.illustrationimg{
    margin: 0 auto;
    width: 25%;
    display: block;
    padding-bottom: 20px;
}
.btn-close, .bottom-span{
    color: #05386B;
    font-weight: 600;
}
.modal h4{
    font-weight: 600;
}
.onlineheader{
    border-bottom: 1px solid #333333;
    padding-bottom: 0px;
}
.onlineheader h5{
    color: #71db77;
    font-weight: 600;
}
.login-img {
    max-width: 100%;
    height: -webkit-fill-available;
    width: 100%;
}
.float-left{
    float: left !important;
}
.registration-upload-outer{
    padding: 0px;
    margin: 20px 0px;
}
.registration-upload{
    padding: 60px 0px;
    background: #FAFAFC;
}
.registration-upload button,  .forgot-password-form button{
    font-weight: 600;
}
.registration-upload button.submit-btn {
    font-family: "circularstdbold", sans-serif;
}
.folder-block {
    padding: 20px 0px;
}
.folder-block p, .registration-upload span{
    text-align: center;
    font-size: 15px;
    color: #000000;
    font-weight: normal;
    font-family: "circularstdbook", sans-serif;
}
.folder-block img {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.forgot-password-form .action-btn-outer div {
    width: 100%;
}

.onlinescriptregistration .myselect {
    margin: 0px;
    width: 100%;
    height: 35px;
    font-size: 13px;
    line-height: 2.5;
}
.titleinput input{
    border: 1px solid #71db77 !important;
    border-radius: 20px;
}
label.label {
    font-weight: 600;
    font-size: 15px;
}
.onlinescriptregistration .contactForm {
    padding: 5px 20px;
    text-align: left;
    font-family: "circularstdbold", sans-serif;
    font-weight: normal;
}
label.label.more-pdf {
    font-family: "circularstdbolditalic", sans-serif;
}
.onlinescriptregistration .form-control,  {
    font-size: 13px;
}
.upload-file-outer{
    display: inline-flex;
    font-size: 13px;
}
.upload-file-outer input, .more-pdf {
    color: #05386B !important;
    font-size: 13px !important;
    font-family: "circularstdbook", sans-serif !important;
    font-weight: normal !important;
}
.upload-file-outer .customremove {
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: #ffffff;
    background: #000000;
}
.upload-file-outer .customremove:hover {

    color: #ffffff;
    background: #333333;
}
.onlinescriptregistration .modal-footer .mylabel, .onlinescriptregistration .modal-footer p {
    font-size: 13px;
    margin-bottom: 10px;
    font-family: "circularstdbook", sans-serif;
}
.onlinescriptregistration .checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.onlinescriptregistration .modal-footer button {
    margin: 0 auto;
    display: block;
}
.onlinescriptregistration .modal-footer .btn-close {
    margin: 0 auto;
    display: block;
    font-family: "circularstdbook", sans-serif;
    font-size: 14px;
}
.btn-close{
    font-family: "circularstdbook", sans-serif;
    font-size: 14px;
}
.margin-btn-1em{
    margin-bottom: 1em;
}

.add-file-outer .add-file span{
    border-radius: 40px;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    float: left;
    margin: 0 auto;
    display: block;
}
.add-file-outer .add-file {
    text-align: center;
}
.add-file-outer .add-file label {
    margin-bottom: 3px;
}
#intro .intro-info p {
    width: 65%;
    font-size: 15px;
    font-family: "circularstdbook", sans-serif;
}
#intro.homepage-intro .btn-get-started{
    font-family: "circularstdbold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    transition: 0.5s;
    color: #fff;
    background: #71DB77;
    color: #fff;
    border-radius: 50px;
}
#services.homepage-services .title a {
    color: #312F2F;
    font-size: 16px;
    font-family: "circularstdbook", sans-serif;
    font-weight: normal;
}
#services.homepage-services .title {
    padding-top: 20px;
}
#services .box:hover .title a {
    color: #71db77;
}
#services.homepage-services .btn{
    font-family: "circularstdbold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 60px;
    transition: 0.5s;
    color: #fff;
    background: #71DB77;
    color: #fff;
    border-radius: 50px;
    margin: 0 auto;
}
.section-header h3 {
    font-size: 36px;
    color: #312F2F;
}
.owl-carousel.custom-carousel img {
    /*width: auto;
    margin: 0 auto;
    padding: 100px 0px;*/
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px;
}
.custom-item {
    background: #312F2F;
}
.test-details {
    background: #71DB77;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #000000;
    font-weight: 600;
    padding: 0px 20px;
}
.test-details h3 {
    padding: 15px 0px 10px 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: "circularstdbold", sans-serif;
}
.test-details p {
    padding: 0px 0px 15px 0px;
    font-size: 14px;
    font-family: "circularstdmedium", sans-serif;
    font-weight: normal;
}
.testimonial-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px 0px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #312f2f;
    color: #ffffff;
}
#footer .footer-top .footer-info p, #footer .footer-top .footer-newsletter a, #footer .footer-top .footer-links ul a{
    color: #ffffff;
}
.custom-footer .social-links {
    margin: 0 auto;
    display: block;
    text-align: center;
    float: right;
}
.footer-info img.logo {
    width: 200px;
    float: right;
}
.custom-carousel .owl-item > div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}
#footer .footer-top .footer-links ul a:hover {
    color: #71db77;
}
.custom-carousel .active.center {
    transform: scale(1);
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}
.custom-carousel .active {
    transform: scale(.8);
    transition: .6s ease;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.visibility-hidden{
    visibility: hidden;
}
#footer .footer-top .social-links a:hover {
    background: #71db77;
    color: #000000;
}
#footer {
    padding: 0 0 0px 0;
    font-size: 14px;
    background: #fff;
    font-family: "circularstdmedium", sans-serif;
}

/*-----------------------CSS changes on 07-05-2019---------------------*/

.files-registered-text{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 15px;
    font-weight: 800;
    font-family: "circularstdbold", sans-serif;
}
form.custom-search {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}
.custom-search input[type="email"] {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    box-shadow: none;
    border: 1px;
    background: #ECEEF2;
    padding-left: 10px;
}

.customsearch .search {
    width: 40%;
    position: relative;
    display: flex;
}

.customsearch .searchTerm {
    width: 100%;
    border: 0px solid #00B4CC;
    border-right: none;
    padding: 5px 0px 5px 20px;
    height: 36px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #9DBFAF;
    line-height: 20px;
    background: #ECEEF2;
    font-size: 13px;
    font-family: "circularstdbook", sans-serif
}
.folder-table    {
    /*background:#0099cc;*/
    width:300px;
    height:300px;
    height:160px;
    padding:5px;
    display:none;
}
.customsearch .searchTerm:focus{
    color: #00B4CC;
}
.custom-search-outer .folder-block img {
    width: 60%;
}
.customsearch .searchButton {
    width: 90px;
    height: 36px;
    border: 0px;
    border-left: 1px solid #9ea6a7;
    background: #eceef2;
    text-align: center;
    color: #71db77;
    border-radius: 0 20px 20px  0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
}
.customsearch .scircle {
    background: #71db77;
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    display: block;
    float: left;
    margin: 8px 0px 0px 5px;
}
.customsearch i.fa.fa-search {
    font-size: 16px;
}
.wrap.customsearch p {
    font-size: 11px;
    padding-left: 20px;
    color: #05386B;
    padding-top: 2px;
    margin: 0px;
    font-family: "circularstdbook", sans-serif;
}
div#portfoliotable_filter {
    display: none !important;
}

.scircle img {
    width: 25px;
    z-index: 9999999;
    padding: 0px;
}
.scircle {
    background: #71db77;
    /* border-radius: 50%; */
    width:25px;
    height: 25px;
    padding: 0px !important;
    /* display: block; */
    float: left;
    margin: 2px;
}
.bcircle img {
    width: 30px;
    height: 30px;
}

/*Resize the wrap to see the search bar change!*/
.wrap.customsearch {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    /*  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);*/
}

.custom-title .left-title{
    float: left;
}
.custom-title .right-title{
    float: right;
    text-align: right;
}
.modal-body h4, .onlineheader h5 {
    font-family: "circularstdbold", sans-serif;
}
/*--------------custom file upload css---------------*/

/*.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}*/

/*---------------------------custom file upload css ends-----------------------*/

/*.profile-pic:hover .edit {
    display: block;
}

.edit {
    padding-top: 7px;   
    padding-right: 7px;
    position: absolute;
    right: 100px;
    top: 36px;
    display: none;
}

.edit a {
    color: #05386b;
}*/
@media (min-width: 768px) {
    .nav-tabs {
        display: flex;
        flex-flow: column nowrap;
    }
    .nav-tabs {
        border-bottom: none;
        border-right: 1px solid #ddd;
        display: flex;
    }
    .nav-tabs {
        margin: 0 15px;
    }
    .nav-tabs .nav-item + .nav-item {
        margin-top: 0.25rem;
    }
    .nav-tabs .nav-link {
        transition: border-color 0.125s ease-in;
        white-space: nowrap;
    }
    .nav-tabs .nav-link:hover {
        background-color: #f7f7f7;
        border-color: transparent;
    }
    .nav-tabs .nav-link.active {
        border-bottom-color: #ddd;
        border-right-color: #fff;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
        margin-right: -1px;
    }
    .nav-tabs .nav-link.active:hover {
        background-color: #fff;
        border-color: transparent !important;
    }

    .card {
        border: none;
    }

    .card .card-header {
        display: none;
    }

    .card .collapse {
        display: block;
    }
}

@media (max-width: 767px) {
    .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

/*------------------------------------------custom-left-block vertical tabs css ends here------------------*/