#services .box img, .queryform textarea  {
    width: 100%;
}
.scircle {
    width: 25px !important;
    height: 23px !important;
    margin: 0px !important;
}
.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #71db77;
}
.signup-name.first_name {
    padding-left: 0px;
}
.signup-name.last_name {
    padding-right: 0px;
}
.modal {
    z-index: 9999;
}
input.btn.btn-primary {
    color: #fff;
    background-color: #71db77;
    border-color: #71db77;
}

@media(max-width: 1440px){
	.why-us-img .img-fluid {
	    max-width: 100%;
	    height: 100vh;
	}
	#msform fieldset {
	    padding: 20px 10px;
	    width: 100%;
	    margin: 0px;
	}
}

@media(max-width: 1366px){
	.why-us-img .img-fluid {
	    max-width: 100%;
	    height: fit-content;
	}	
	#header {
	    padding: 20px 0px 20px 15px !important;
	}
}

@media (min-width: 1200px){
    .container {
        max-width: 1340px;
    }
    #why-us.outer.custom-outer .page-header-outer .container.no-padding {
	    padding: 0px 15px !important;
	}
}

@media(max-width: 1024px){
	#intro {
	    height: 40vh;
	}
	.add-file {
	    padding: 5px 2px;
	}
	.customsearch .search {
	    width: 60% !important;
	}
	.update-kyc {
	 	width: 90%;
	}
	#why-us.outer .form-outer form, .signup-form-outer .mysignup {
	    width: 90%;
	    margin: 0 auto;
	    max-width: 90%;
	}
}

@media(max-width: 768px){
	#intro {
	    height: 70vh;
	    background-position: right;
	}
	section#intro .h-100 {
	    height: 80%!important;
	}
	section#intro .col-md-5.intro-img.order-md-last.order-first.visibility-hidden, #why-us.outer .why-us-img .img-fluid, .page-header.right-block {
	    display: none;
	}
	section#intro .col-md-7.intro-info.order-md-first.order-last {
	    width: 100%;
	    max-width: 100%;
	    flex: none;
	    text-align: left;
	}
	#intro .intro-info h2 {
	    font-size: 27px;
	}
	.lower-left .nav-tabs li {
        width: 47%;
	    float: left;
	    margin-left: 10px;
    	margin-right: 10px;
    	height: 50px;
	}
	.custom-left-block .nav-tabs {
	    border-right: 0px solid #ddd;
	}
	.lower-left .nav-tabs {
	    display: block;
	}
	.custom-left-block .nav-tabs a label {
	    margin: 0px;
	}
	.update-kyc {
	    width: 40%;
	}
	#header {
	    padding: 0px 0px 20px 15px !important;
	}
	.form-footer {
	    position: initial !important;
	    bottom: 0px !important;
	    font-size: 15px !important;
	    padding: 0px !important;
	}
	.signup-name.first_name, .signup-name.last_name  {
	    padding: 0px !important;
	}
	#faq .custom-title .right-title h4 {
	    font-size: 18px;
	}
	.form-footer1 div {
    	text-align: center !important;
	}
	.mobile-nav .fa {
	    padding-right: 5px;
	}
}

@media(max-width: 767px){
	.lower-left .nav-tabs li {
        width: 47%;
	    float: left;
	    margin-right: 8px;
	    margin-left: 8px;
	}
	.custom-left-block .nav-tabs {
	    border-right: 0px solid #ddd;
	}
	.lower-left .nav-tabs {
	    display: inline-flex;
	}
}

@media(max-width: 600px){
	/*section#intro .h-100 {
	    height: 65%!important;
	}*/
	section#intro .h-100 {
	    height: 100%!important;
	    display: block !important;
	}
	section#why-us .custom-right-block .display-flex {
	    display: initial;
	}
	.add-file-outer {
	    float: left !important;
	    margin-bottom: 20px !important;
	}
	.custom-search-outer .folder-block .float-left.Show {
	    padding: 0px;
	}
	.custom-search-outer .folder-block .float-left.Show {
	    width: 50%;
	   float: left;
	}
	.myselect:hover::after{
		display:none;
	}
	.borderless thead tr.lower-title th {
	    padding: 5px 0px 0px !important;
	    border-bottom: 0px;
	    text-align: center;
	    width: 18% !important;
	}
	.myselect select {
	    flex: 1;
	    padding: 0px 8px;
	    text-align: center !important;
	    margin: 0 auto;
	    cursor: pointer;
	    font-family: "circularstdbook", sans-serif;
	    color: #495057 !important;
	    opacity: 0.9;
	}
	.myselect {
	    position: initial;
	    display: flex;
	    height: 2em;
	    line-height: 2;
	    background: #ffffff !important;
	    overflow: hidden;
	    width: max-content;
	    margin: 0 auto;
	    text-align: center;
	    border: 1px solid #71db77;
	    border-radius: 20px;
	}
	.page-header {
	    padding: 25px 15px !important;
	}
	.checkbox {
	    width: 100% !important;
	}
}

@media(max-width: 414px){
	#intro {
	    height: 60vh;
	    background: none;
	}
	#intro .intro-info p {
	    width: 100% !important;
	}
	#intro .intro-info {
	    padding-top: 90px;
	}
	section#intro .col-md-7.intro-info.order-md-first.order-last {	
	    text-align: center;
	}
	.section-header h3 {
	    font-size: 27px;
	}
	#testimonials .section-header {
	    margin-bottom: 0px;
	}
	.lower-left .nav-tabs li {
	    margin-left: 5px;
    	margin-right: 5px;
	}
	.custom-left-block label {
	    width: 75%;
	}
	.customsearch .search {
	    width: 100% !important;
	}
	.update-kyc {
	    width: 50%;
	}
	.custom-left-block .nav-tabs a label {
	    margin: 0px;
	    font-size: 15px;
	    letter-spacing: 0.5px;
    }
    #why-us.outer .form-outer form, .signup-form-outer .mysignup {
	    width: 100%;
	    margin: 0 auto;
	    max-width: 100%;
	}
	.card{
		border: 0px !important
	}
}

@media (max-width: 360px){
	#intro {
	    height: 65vh;
	}
	.section-header h3, #intro .intro-info h2 {
	    font-size: 25px;
	}
}

@media (max-width: 320px){
	.section-header h3, #intro .intro-info h2 {
	    font-size: 21px;
	}
	.lower-left .nav-tabs li {
	    margin-left: 5px;
	    margin-right: 3px;
	}
}