.padding-zero{
	padding:0px;
}
.about{
	background: #f6fcfe;
	height: 100vh;
	float: left;
}
.navigation a.home-icon{
  width: 10%;
}
.navigation a {
    width: 15%;
    float: left;
    text-align: center;
    padding: 20px 10px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
}
.navigation img{
	    width: 38px;
}
.right-text{
	border-top:2px solid #333333;
  /*padding:19% 0px !important;*/
	}
  .image-outer{
  	    /*background: url(../../images/image.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


/*differed css*/
.what-we-do .text ul li{
      font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.3;
}
.what-we-do .text h5, .founding-team h5{
  font-size: 18px;
}

.founding-team p{
  font-size: 14px;
  line-height: 1.5;
    letter-spacing: 0.3;
}

 .text p.outer{
  border-top:2px solid #333333;padding:0px 0px;
}
 .text p{
  padding:0px 0px;
}

.about-page .right-text {
    border-top: 2px solid #333333;
    /*padding: 4% 0px !important;*/
}

.text{
      padding: 20px 40px;
      float: right;
      /*height: 80vh;*/
      height: 92%;
      overflow-x: auto;
      text-align: justify;
      position: relative;
}
.text ul{
  padding-left: 15px;
}
.text h3{
  color:#17375e;font-weight: 900;text-align: right;

}
.text h3 span{
  color:#0070c0;
}
.float-left{
  float: left;
}
.float-right{
  float:right;
}



.about img{
  width: 84%;vertical-align: middle;margin: 0 auto;display: block;

}
.navigation a.home{
  background:#e1f9ff;color:#00a0e3;
}
.navigation a.philosophy{
  background:#bcf2ff;color:#52dbfd;
}
.navigation a.what-we-do{
  background:#52dbfd;color:#52dbfd;
}
.navigation a.social{
  background:#00a0e3;
}
.navigation a.contact{
  background:#17375e;
}
.navigation a.founding{
  background:#52dbfd;
}

.philosophy p.outer{
  border-top:2px solid #333333;
  /*padding:4% 0px;*/
}
/*.what-we-do p.outer {
    padding: 7% 0px;
}*/
.social p.outer {
    /*padding: 18% 0px;*/
}
.contact p.outer {
    /*padding: 14% 0px;*/
    /*padding:0px;*/
}
.home img{
      width: 50px !important;
}

span.home{
      position: absolute;
    bottom: 8px;
    background: #e1f9ff;
    padding:19px 43px;
    left: 0;
}

.pull-left{
  text-align: left !important;
}

.social .text{
  /*height: auto !important;*/
}
.pull-right{
  float: right;
}
.photo_section .img-responsive{
      width: 100%;
}
.photo_section .img-responsive:hover{
    -webkit-box-shadow: 4px 4px 12px 4px #9b9b9b;
    box-shadow: 4px 4px 12px 4px #9b9b9b;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.photo_section li{
      list-style: none;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
    display: none;
}
.photo_section #lightgallery li.col-md-4.col-xs-6.pull-right {
    padding-bottom: 10px;
    padding-left: 0px;
}

.founding-team .text h5{
  border-bottom: 1px solid #17375e;
    width: max-content;
    padding-bottom: 2px;
}


  @media only screen and (max-device-width: 1920px) and (max-device-height: 1080px) {
	.image-outer{
  	/*height: 92vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
  }  
  .about img{
  	    width: 100% !important;
  }
}

@media only screen and (max-device-width: 1900px) and (max-device-height: 1200px) {
	.image-outer{
  	/*height: 92vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
  }  
  .about img{
  	    width: 100% !important;
  }
  span.home {
        bottom: 18px;
    padding: 12px 54px;
}
}

@media only screen and (max-device-width: 1839px) and (max-device-height: 950px) {
  .image-outer{
  	/*height: 89vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
  }
  .about img{
  	        width: 87% !important;
  }
  span.home {
    bottom: 25px;
    padding: 9px 43px;
  }
}

@media only screen and (max-device-width: 1600px) and (max-device-height: 900px){
  footer {
      /*bottom: 14px !important;*/
  }
}

@media only screen and (max-device-width: 1600px) and (max-device-height: 769px){
  
}

@media only screen and (max-device-width: 1553px) and (max-device-height: 800px) {
  .image-outer{
  	    /*height: 87vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
    height: auto !important;
  }
  .about img{
  	    width: 98% !important;
  }
  span.home {
    bottom: 26px;
    padding: 17px 43px;
  }
}


@media only screen and (max-device-width: 1440px) and (max-device-height: 900px){
  .image-outer {
    /*height: 91vh;*/
}
span.home {
    bottom: 2px;
    padding: 24px 43px;
}
}

@media only screen and (max-device-width: 1366px) and (max-device-height: 678px){
  .right-text{
  	padding: 13% 0px;  	
  }
  .about img{
  	    width: 100%;
  }
  .founding-team p {
    font-size: 13px;
  }
  span.home {
    bottom: -16px;
    padding: 25px 43px;
  }
}

@media(max-width: 1301px){
  .about img{
  	    width: 98% !important;
  }
span.home {
    bottom: -6px;
    padding: 23px 43px;
}
.home img{
      width: 30px !important;
}
}


@media only screen and (max-device-width: 1280px) and (max-device-height: 950px){
  .image-outer {
    /*height: 91vh;*/
}
span.home {
    bottom: 9px;
    padding: 22px 43px;
}
}

@media only screen and (max-device-width: 1280px) and (max-device-height: 800px){
  .image-outer {
    /*height: 90vh;*/
}
span.home {
    bottom: 2px;
    padding: 20px 43px;
}
}



@media only screen and (max-device-width: 1279px) and (max-device-height: 670px) {
  .image-outer {
    /*height: 88vh;*/
}
.founding-team p {
    font-size: 13px;
    line-height: 1.4;
}
span.home {
    bottom: 0px;
    padding: 23px 43px;
}
}

@media only screen and (max-device-width: 1226px) and (max-device-height: 632px) {
  .right-text {
    	padding: 8% 0px;
	}
	.about img{
  	    width: 100%;
  }
  .navigation a {
    font-size: ;
}
.founding-team p {
    font-size: 13px;
    line-height: 1.3;
}
.text{
      padding: 20px 20px;
}
span.home {
    bottom: -3px;
    padding: 23px 43px;
}
.home img{
      width: 30px !important;
}
}

@media only screen and (max-device-width: 1200px) and (max-device-height: 600px) {
  .right-text {
    padding: 0% 0px;
	}
	.image-outer {
    height: 87vh;
}
.founding-team p {
    font-size: 12px;
    line-height: 1.3;
}
}


.logo_inner{
    /*margin-right: 20px;*/
    max-width: 25%;
    /*border-right: 1px solid gainsboro;*/
    /*padding-right: 20px;*/
}
.navigation{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.philo_text{
  display: none;
}
.philo_img{
  display: block;
  max-width: 100%;
  text-align: center;
  margin:0 auto;
}
/** custom responsive css
-------------------------------------**/
@media screen and (max-width: 768px){
    .about{
      display: none;
    }

    .navigation{
      position: fixed;
      z-index: 999;
      top: 0;
      width: 70%;
      transform: translateX(-300px);
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
    }
    .side_nav{
      transform: translateX(0px);
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
    }
    .navigation a {
      width: 100% !important;
      float: none;
      text-align: left;
      padding: 20px;
      color: #ffffff;
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px solid #b5b5b5;    
    }

    .hamburger{
      position: fixed;
      right: 4%;
      z-index: 999;
      top: 2%;
      background: #000;
      padding: 10px;
    }
    span.icon_bar {
      background: white;
      display: block;
      height: 3px;
      width: 35px;
      margin-bottom: 5px;
  }
  .logo_inner{
    margin-right: 0px;
    max-width: 100%;
    border-right: none;
    padding-right: 0px;
    width: 200px;
  }
  .text h3{
    text-align: center;
  }
  .outer{
    padding:0px !important;
  }

  .text{
    height: auto !important;
    padding-bottom: 60px;
  }

  .philo_text{
    display: block;
  }
  .philo_img{
    display: none;
  }
  .desktop_footer{
    display: none !important;
  }
  .mobile_footer{
    display: block !important;
    position: absolute;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    background: #000;
  }
  .copyright_text p{
    margin-top:0px;
  }

}

.accordion{
  margin-bottom: 30px;
}
.accordion a{
  text-decoration: none !important
}
.card-header h5{
  font-size: 14px !important;
  color: #fff;
  width: 95%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: rgba(0, 112, 192, 0.8117647058823529);
}
i.fa.fa-angle-down.rotate-icon {
    float: right;
    position: absolute;
    right: 10px;
    top: 15px;
    margin-left: 30px;
}

.desktop_footer {
    background: #000;
    display: block;
    width: 100%;
    /*float: none;
    position: absolute;
    bottom: 0;
    left: 0;*/
}
.mobile_footer{
  display: none;
}
.copyright_text{
    padding: 10px;
    text-align: center;
}
.copyright_text p{
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 10px;
}
.copyright_text a{
    color: #fff;
    text-decoration: none !important;
}
.founding-team .col-md-6.padding-zero.image-outer.float-left {
    padding: 46px 40px;/*73px 40px;*/
}
.content_block {
    padding: 20px;
    margin-top: 32px;
    background: #f4e7e7;
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .text{
      height: 84% !important;
    }
}

@media screen and (min-width: 1281px) and (max-width:1366px){
  .text{
    height: 80% !important;
  }
  .founding-team .text {
    padding: 0px 40px;
  }
}


